PORT=5000
AI_SERVICE_URL=http://127.0.0.1:8000
NODE_ENV=development
# LiveAvatar API Configuration (Get from app.liveavatar.com/developers)
LIVEAVATAR_API_KEY=
DEFAULT_AVATAR_ID=513fd1b7-7ef9-466d-9af2-344e51eeb833
